{{- define "main" }}external template
WebBasePath: {{ .WebBasePath }};

Langs:
{{ range .LangPrefs }}{{ .Lang }};q={{ .Weight }},{{ end }}

Data:
CSRFToken: {{ .Data.CSRFToken }};
Challenge: {{ .Data.Challenge }};
LoginURL: {{ .Data.LoginURL }};
IsInvalidCredentials: {{ .Data.IsInvalidCredentials }};
IsInternalError: {{ .Data.IsInternalError }};
{{- end }}