{{- define "main" }}external template
WebBasePath: {{ .WebBasePath }};

Langs:
{{ range .LangPrefs }}{{ .Lang }};q={{ .Weight }},{{ end }}

Title:
{{ block "title" .Data }}{{ end }}

Style:
{{ block "style" .Data }}{{ end }}

Js:
{{ block "js" .Data }}{{ end }}

Content:
{{ block "content" .Data }}{{ end }}
{{- end }}